@import '../general.scss';

.empty__header {
  @include _mainFont(30px);
  font-weight: 700;
  text-align: center;
  margin: $marginDesctopDiv2;
}

.empty__image {
  display: block;
  margin: $marginDesctopDiv2 auto;
}

.empty__message {
  @include _mainFont(20px);
  text-align: justify;
  max-width: 600px;
  margin: $marginDesctopDiv2 auto;
}

.empty__button {
  @include _button(250px, 30px, 20px);
  margin: $marginDesctopDiv2 auto;
}

.basket-container__items {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-auto-rows: auto;
  gap: $marginDesctopDiv2;
  margin: $marginDesctopDiv2;
  padding-top: $marginDesctopDiv2;
  padding-bottom: $marginDesctopDiv2;
  // border-top: 1px solid rgba($color: #6495ED, $alpha: .3);
  border-bottom: 1px solid rgba($color: #6495ED, $alpha: .3);
}

.item__image {
  width: 150px;
  border-radius: $marginDesctopDiv8;
}

.item__params-block {
  margin: auto;
}

.item__name {
  display: block;
  @include _mainFont(20px);
  font-weight: 700;
  margin: $marginDesctopDiv4 auto;
}

.params-block__params {
  @include _mainFont(16px);
  margin: $marginDesctopDiv8 auto;
  text-align: center;
}

.item__price-block {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, min-content);
  margin: auto;
}

.price-block__item-full-price {
  @include _mainFont(16px);
  text-decoration: line-through;
  font-weight: 700;
}

.price-block__item-discont {
  @include _mainFont(12px);
  font-weight: 700;
  color: crimson;
  margin-left: $marginDesctopDiv8;
}

.price-block__item-discont-price {
  grid-column: 1 / 3;
  @include _mainFont(16px);
  font-weight: 700;
  color: crimson;
  margin: $marginDesctopDiv8 auto;
}

.item__amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount__decrease-button,
.amount__increase-button {
  @include _button(25px, 25px, 20px);
  border: 0;
  border-radius: 5px;
  margin: $marginDesctopDiv8 0;
}

.amount__increase-button {
  &:hover {
    background-color: limegreen;
  }
}

.amount__current {
  @include _mainFont(20px);
  margin: $marginDesctopDiv4;
}

.item__total-price {
  @include _mainFont(20px);
  font-weight: 700;
  margin: auto;
}

.item__delete {
  display: flex;
  justify-content: center;
  align-items: center;
  @include _button(100px, 25px, 16px);
  border: 0;
  margin: auto 0;
  &:hover {
    background-color: crimson;
  }
}

.basket-container__promo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: $marginDesctopDiv2;
}

.promo-block__input {
  display: block;
  width: 200px;
  min-height: 25px;
  @include _mainFont(16px);
  color: steelblue;
  text-align: center;
  border-radius: 5px;
  border: solid 1px cornflowerblue;
  &:focus {
    outline-color: cornflowerblue;
  }
  &::placeholder {
    color: LightSteelBlue;
  }
}

.promo-block__button {
  display: block;
  @include _button(100px, 29px, 16px);
  border: 0;
  border-radius: 5px;
  margin-left: $marginDesctopDiv2;
  &:hover {
    background-color: limegreen;
  }
}

.basket-container__price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: $marginDesctopDiv2;
}

.price__text {
  @include _mainFont(20px);
  margin: $marginDesctopDiv4;
}

.price__total {
  @include _mainFont(20px);
  font-weight: 700;
  margin-right: calc(100px + $marginDesctopDiv2);
}

.delete-block__delete-button,
.delete-block__confirm-button {
  display: block;
  margin: $marginDesctopDiv2 auto;
  @include _button(200px, 30px, 20px);
  border: 0;
}

.delete-block__delete-button {
  &:hover {
    background-color: crimson;
  }
}

.delete-block__confirm-button {
  background-color: crimson;
  &:hover {
    background-color: crimson;
  }
}

.delete-block__confirm-message {
  @include _mainFont(20px);
  text-align: center;
  margin: $marginDesctopDiv2 auto;
}