@import '../general.scss';

.products-page {  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border: 1px solid rgba($color: #4682B4, $alpha: .3);
  border-top: 0px;
  @include _mobile {
    border: none;
  }
}

.catalog__filters {
  width: 250px;
  min-height: 100%;
  border-right: 1px solid rgba($color: #4682B4, $alpha: .3);
  border-top: 0px;
  @include _tablet {
    width: 200px;
  }
  @include _mobile {
    display: none;
    position: absolute;
    background-color: rgba($color: #6495ED, $alpha: .95);
    border-radius: 0 0 $marginMobile 0;
    left: 0px;
    z-index: 2;
  }
}

.filters__filter {
  margin: $marginDesctopDiv2;
  @include _tablet {
    margin: $marginTabletDiv2;
  }
}

.filters__icon-block {
  display: none;
  @include _mobile {
    display: block;
    position: absolute;
    top: 55px;
    right: $marginMobile;
  }
}

.icon-block__icon {
  width: 25px;
  margin-right: $marginMobile;
  &:hover {
    cursor: pointer;
  }
}

.filter__header {
  @include _mainFont(16px);
  font-weight: 700;
  margin: $marginDesctopDiv4 0;
  color: steelblue;
  @include _tablet {
    font-size: 14px;
    margin: $marginTabletDiv4 0;
  }
  @include _mobile {
    color: DarkSlateGray;
  }
  &:hover {
    cursor: pointer;
  }
}

.filter__range-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: $marginDesctopDiv4 0;
  @include _tablet {
    margin: $marginTabletDiv4 0;
  }
}

.filter__label {
  display: flex;
  justify-content: start;
  align-items: center;
  @include _mainFont(16px);
  margin: $marginDesctopDiv8 0;
  margin-top: 0;
  @include _tablet {
    font-size: 14px;
  }
}

.filter__range-input {
  display: block;
  width: 50px;
  min-height: 25px;
  @include _mainFont(16px);
  text-align: center;
  border-radius: 5px;
  border: solid 1px steelblue;
  padding: 0 5px;
  margin: 0 $marginDesctopDiv8;
  @include _tablet {
    width: 45px;
    font-size: 14px;
    min-height: 20px;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.filter__checkbox-input {
  display: block;
  width: 16px;
  height: 16px;
  margin: $marginDesctopDiv8;
}

.catalog__items {
  width: max-content;
  flex-grow: 1;
  box-sizing: border-box;
}

.items__routing {
  display: flex;
  background-color: rgba($color: #778899, $alpha: .1);
  @include _mobile {
    min-height: 31px;
    background-color: white;
  }
}

.routing__text {
  @include _mainFont(16px);
  color: darkcyan;
  white-space: pre;
  margin: calc($marginDesctop / 4) 0;
  @include _tablet {
    font-size: 14px;
    margin: $marginTabletDiv4 0;
    margin-top: $marginTabletDiv2;
  }
  &:hover {
    cursor: pointer;
    color: lightseagreen;
  }
  &:first-child {
    margin-left: calc($marginDesctop / 4);
  }
}

.items__search {
  display: grid;
  grid-template-columns: 1fr auto auto;
  background-color: rgba($color: #778899, $alpha: .05);
  @include _tablet {
  }
  @include _mobile {
    background-color: white;
  }
  @media (max-width: 479.98px) {
    grid-template-columns: 1fr;
  }
}

.search__search-field {
  display: block;
  width: 300px;
  @include _mainFont(16px);
  margin: $marginDesctopDiv4 $marginDesctopDiv2;
  text-align: center;
  border-radius: 5px;
  border: solid 1px steelblue;
  padding: 0 15px;
  color: #346085;
  @include _tablet {
    width: 210px;
    font-size: 14px;
    margin: $marginTabletDiv4 $marginTabletDiv2;
  }
  @include _mobile {
    width: 150px;
    font-size: 12px;
    height: 20px;
  }
  @media (max-width: 479.98px) {
    width: 250px;
    margin: $marginMobileDiv2 auto;
  }
  &:focus {
    outline-color: steelblue;
  }
  &::placeholder {
    color: LightSteelBlue;
  }
}

.search__filter-block,
.search__pagination-block {
  display: block;
  border: 1px steelblue solid;
  border-radius: 5px;
  @include _mainFont(14px);
  color: slategray;
  outline: none;
  margin: $marginDesctopDiv4 $marginDesctopDiv2;
  margin-left: 0;
  &:after {
    border: 1px steelblue solid;
  }
  @include _tablet {
    margin: $marginTabletDiv4 $marginTabletDiv2;
    font-size: 12px;
  }
  @include _mobile {
    height: 22px;
    margin-left: auto;
  }
  @media (max-width: 479.98px) {
    width: 282px;
    margin: $marginMobileDiv2 auto;
    text-align: center;
    color: steelblue;
  }

  &:hover {
    cursor: pointer;
  }
}

.search__filter {
  @include _mainFont(14px);
  color: slategray;
  font-size: 14px;
  margin: $marginDesctopDiv8 calc($marginDesctop);

  @include _tablet {
    font-size: 12px;
    margin: auto $marginTablet;
  }
  @include _mobile {
    font-size: 11px;
    margin: auto $marginMobile;
  }
  &:hover {
    cursor: pointer;
    color: darkcyan;
  }
}

.items__category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgba($color: #778899, $alpha: .03);
  @include _mobile {
    background-color: white;
    border-bottom: 1px solid rgba($color: #4682B4, $alpha: .3);
    border-radius: 50px;
  }
}

.category__logo {
  margin: 3%;
  width: 15%;
  min-width: 150px;
  border-radius: 5%;
  border: 1px solid rgba($color: #778899, $alpha: .03);
  @media (max-width: 390px) {
    min-width: 120px;
  }
  &:hover {
    cursor: pointer;
    scale: 1.05;
    border: 1px solid rgba($color: #B0C4DE, $alpha: .3);
    background-color: rgba($color: #1E90FF, $alpha: .05);
  }
}

.items__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: calc($marginDesctop / 2);

  margin: calc($marginDesctop / 2);

  @media (max-width: 1699.98px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1449.98px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include _tablet {
    gap: $marginTablet;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1149.98px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 929.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include _mobile {
    gap: $marginMobile;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 689.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 479.98px) {
      grid-template-columns: 1fr;
    }
  }
}

.cards__card {
  width: 250px;
  border: 1px solid rgba($color: #4682B4, $alpha: .3);
  border-radius: calc($marginDesctop / 2);
  margin: 0 auto;
  @include _tablet {
    width: 200px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba($color: #4682B4, $alpha: .1);
    transform: scale(1.02);
    box-shadow: 0px 0px $marginTablet calc($marginMobile / 2 - $marginMobile) steelblue;
  }
}

.card__name {
  @include _mainFont(20px);
  margin: calc($marginDesctop / 2) calc($marginDesctop / 4);
  margin-bottom: 0px;
  text-align: center;
  font-weight: 700;
  @include _tablet {
    font-size: 16px;
    margin: $marginTabletDiv2 $marginTabletDiv4;
  }
  @include _mobile {
    font-size: 14px;
    margin: $marginMobile $marginMobileDiv2;
  }
}

.card__image {
  width: 250px;
  height: calc(250px / 3 * 2);
  margin: calc($marginDesctop / 2) auto;
  margin-bottom: 0px;
  @include _tablet {
    width: 200px;
    height: calc(200px / 3 * 2);
    margin: $marginTabletDiv2 auto;
  }
}

.card__text {
  @include _mainFont(16px);
  margin: calc($marginDesctop / 8);
  text-align: center;
  @include _tablet {
    font-size: 14px;
    margin: $marginTabletDiv4;
    margin-bottom: 0;
  }
  // @include _mobile {
  //   font-size: 12px;
  //   margin: $marginMobileDiv2;
  //   margin-bottom: 0;
  // }
}

.card__price-block {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  margin: calc($marginDesctop / 2) calc($marginDesctop / 4);
  margin-bottom: 0px;
  @include _tablet {
    margin: $marginTabletDiv2 $marginTabletDiv4;
    margin-bottom: 0;
  }
  // @include _mobile {
  //   margin: $marginMobileDiv2;
  //   margin-bottom: 0;
  // }
}

.price-block__price {
  @include _mainFont(16px);
  font-weight: 700;
  margin-right: calc($marginDesctop / 8);
  @include _tablet {
    font-size: 14px;
  }
}

.price-block__discont-price {
  display: flex;
  @include _mainFont(16px);
  font-weight: 700;
  color: crimson;
  @include _tablet {
    font-size: 14px;
  }
}

.price-block__discont {
  @include _mainFont(12px);
  font-weight: 700;
  color: crimson;
  margin-left: calc($marginDesctop / 8);
  @include _tablet {
    margin-left: 2px;
  }
}

.card__button {
  @include _button(120px, 25px, 16px);
  border: 0px;
  margin: calc($marginDesctop / 2) auto;
  @include _tablet {
    margin: $marginTablet auto;
  }
  // @include _mobile {
  //   margin: $marginMobile auto;
  //   @include _button(100px, 20px, 14px);
  // }

  &:hover {
    background-color: limegreen;
  };
}

.filters__button-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.filters__button_confirm,
.filters__button_reset {
  display: block;
  margin: $marginDesctopDiv8;
  margin-bottom: $marginDesctopDiv2;
  @include _button(100px, 25px, 16px);
  color: steelblue;
  font-weight: 700;
  background-color: LightSteelBlue;
  border: solid 0px white;
  border-radius: $marginDesctopDiv8;
  @include _mobile {
    background-color: LightSteelBlue;
    color: royalblue;
  }
  &:hover {
    color: white;
  }
}

.filters__button_confirm {
  &:hover {
    background-color: limegreen;
  }
}

.filters__button_reset {
  &:hover {
    background-color: crimson;
  }
}

.items__page-number {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 300px;
  margin: 0 auto;
}

.page-number__button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include _button(40px, 40px, 20px);
  font-weight: 100;
  border: 2px solid cornflowerblue;
  border-radius: $marginDesctop;
  margin: $marginDesctop auto;

  @include _tablet {
    margin: $marginTablet auto;
  }

  @include _mobile {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-width: 1px;
    margin: $marginMobile auto;
  }

  &:hover {
    border-color: darkorange;
  }

  &_unactive {
    color: slategray;
    border-color: slategray;
    background-color: white;

    &:hover {
      cursor: default;
      background-color: white;
      border-color: slategray;
      transform: scale(1);
    }
  }

  &_pagenumber {
    width: 36px;
    height: 36px;
    font-weight: 400;
    color: cornflowerblue;
    background-color: white;

    @include _mobile {
      width: 28px;
      height: 28px;
      font-size: 16px;
      border-width: 1px;
    }

    &:hover {
      cursor: default;
      background-color: white;
      border-color: cornflowerblue;
      transform: scale(1);
    }
  }
}
