@import '../general.scss';
@import '../elements/form.scss';

.products-page {
  max-width: 1320px;    
}

.products-page__category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category__logo {
  margin: 3%;
  width: 30%;
  min-width: 250px;
}