@import '../general.scss';

.main-page {
    width: 100%;
}

.main-page__header {
    @include _mainFont(35px);
    margin: $marginDesctop 0px;
    text-align: center;
    @include _tablet {
        font-size: 25px;
        margin: $marginTablet 0;
    }
    @include _mobile {
        font-size: 20px;
        margin: $marginMobile 0;
    }
}

.main-page__catalog-paragraph {
    margin: $marginDesctop auto;
    @include _mainFont(25px);
    text-align: center;
    @include _tablet {
        font-size: 20px;
        margin: $marginTablet 0;
    }
    @include _mobile {
        font-size: 16px;
    }   
}

.main-page__catalog-text {
    margin: calc($marginDesctop / 4) auto;
    @include _mainFont(20px);
    text-align: center;
    line-height: 30px;
    @include _tablet {
        font-size: 16px;
        line-height: 24px;
    }
    @include _mobile {
        font-size: 12px;
        line-height: 18px;
    }
}

.main-page__link {
    display: block;
    @include _button(250px, 30px, 20px);
    margin: $marginDesctop auto;
    @include _tablet {
        margin: $marginTablet auto;
    }
    @include _mobile {
        @include _button(200px, 30px, 16px);
    }
}

.main-page__brands {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 0 auto;
}

.brands__logo {
  margin: 4% 2%;
  width: 10%;
  min-width: 250px;
  border: 1px solid white;
  &:hover {
    cursor: pointer;
    scale: 1.05;
    border: 1px solid rgba($color: #B0C4DE, $alpha: .3);
    border-radius: 5%;
    background-color: rgba($color: #1E90FF, $alpha: .05);
  }
}

.main-page__promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 2% 2%;
}

.main-page__promo-paragraph {
  margin: 0 auto;
  @include _mainFont(25px);
  text-align: center;
  @include _tablet {
      font-size: 20px;
  }
  @include _mobile {
      font-size: 16px;
  }   
}

.main-page__promo__code {
  margin: 0;
  @include _mainFont(22px);
  text-align: center;
  font-weight: bold;
  @include _tablet {
      font-size: 17px;
      margin: 0;
  }
  @include _mobile {
      font-size: 14px;
  }
}

.main-page__promo__desc {
  margin: 0;
  color: grey;
  @include _mainFont(18px);
  text-align: center;
  @include _tablet {
      font-size: 14px;
  }
  @include _mobile {
      font-size: 12px;
  }
}