@import '../general.scss';

.product-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 1fr;
  grid-auto-rows: auto;
  @include _mobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.product__name {
  grid-column: 1 / 5;
  @include _mainFont(30px);
  font-weight: 700;
  margin: $marginDesctopDiv2 auto;
  text-align: center;
  @include _tablet {
    font-size: 20px;
    margin: $marginTabletDiv2;
  }
  @include _mobile {
    grid-column: 1 / 2;
    font-size: 16px;
    // margin: $marginMobileDiv2;
  }
}

.product__image {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  @include _mobile {
    grid-column: 1 / 2;
  }
}

.image-block__picture {
  display: block;
  max-width: 50vw;
  border-radius: $marginDesctopDiv2;
  @include _mobile {
    max-width: calc(100% - $marginMobile);
    margin: 0 auto;
  }
}

.image__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $marginDesctopDiv8;
}

.controls__item {
  width: 20px;
  height: 20px;
  border: 1px solid steelblue;
  border-radius: 50%;
  margin: 0 $marginDesctopDiv4;
  @include _tablet {
    width: 15px;
    height: 15px;
    margin: 0 $marginTabletDiv4;
  }
  &:hover {
    cursor: pointer;
  }
}

.controls__item_selected {
  background-color: steelblue;
}

.product__price {
  grid-column: 4 / 5;
  @include _mobile {
    grid-column: 1 / 2;
  }
}

.price__curent {
  @include _mainFont(20px);
  text-align: center;
  margin: $marginDesctopDiv4;
  @include _tablet {
    font-size: 16px;
    margin: $marginTabletDiv4;
  }
  @include _mobile {
    font-size: 14px;
    margin: $marginMobileDiv2;
  }
}

.price__base-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: $marginDesctopDiv4;
  @include _tablet {
    margin: $marginTabletDiv4;
  }
  @include _mobile {
    margin: $marginMobileDiv2;
  }
}

.price__base {
  @include _mainFont(20px);
  margin: 0 $marginDesctopDiv8;
  @include _tablet {
    font-size: 16px;
  }
  @include _mobile {
    font-size: 14px;
  }
}

.price__base_discont {
  text-decoration: line-through;
  color: lightslategray;
}

.price__discont {
  @include _mainFont(16px);
  color: crimson;
  font-weight: 700;
  margin: 0 $marginDesctopDiv8;
  @include _tablet {
    font-size: 12px;
  }
  @include _mobile {
    font-size: 11px;
  }
}

.product__variants {
  grid-column: 4 / 5;
  margin: 0 auto;
  @include _mainFont(20px);
  margin-top: $marginDesctopDiv2;
  @include _tablet {
    font-size: 16px;
  }
  @include _mobile {
    grid-column: 1 / 2;
    font-size: 14px;
    margin-top: $marginMobileDiv2;
  }
}

.variants__variants-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.variants__main,
.variants__links {
  display: block;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: $marginDesctopDiv8 auto;
  opacity: .5;
  @include _tablet {
    width: 20px;
    height: 20px;
    border-radius: 7px;
  }
  &:hover {
    cursor: pointer;
  }
}

.variants__selected {
  border-color: LightSteelBlue !important;
  opacity: 1;
}

.product__description {
  grid-column: 1 / 5;
  width: 60vw;
  max-width: 1080px;
  @include _mainFont(16px);
  text-align: justify;
  margin: $marginDesctopDiv4 auto;
  @include _tablet {
    font-size: 14px;
  }
  @include _mobile {
    width: calc(100% - $marginMobile);
    font-size: 12px;
  }
}

.product__features {
  grid-column: 1 / 5;
  max-width: 60vw;
  margin: $marginDesctopDiv4 auto;
  @include _mobile {
    max-width: calc(100% - $marginMobile);
    margin: $marginTabletDiv4 auto;
  }
}

.features__header {
  @include _mainFont(20px);
  text-align: center;
  @include _tablet {
    font-size: 16px;
  }
  @include _mobile {
    font-size: 14px;
  }
}

.features__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include _mainFont(16px);
  margin: $marginDesctopDiv4 auto;
  @include _tablet {
    font-size: 14px;
  }
  @include _mobile {
    font-size: 12px;
  }
  
  span:first-of-type {
    font-weight: 700;
    margin-right: $marginDesctopDiv4;
    @include _tablet {
      margin-right: $marginTabletDiv4;
    }
  }
}