$marginDesctop: 40px;
$marginTablet: 20px;
$marginMobile: 10px;

@mixin _tablet {
  @media (max-width: 1279.98px) {
    @content;
  }
}

@mixin _mobile {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin _font($size) {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: $size;
  color: white;
  text-decoration: none;
}

@mixin _mainFont($size) {
  @include _font($size);
  color: black;
}

@mixin _button($width, $height, $font-size) {
  display: flex;
  width: $width;
  height: $height;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  border-radius: 10px;
  @include _font($font-size);
  &:hover {
    background-color: royalblue;
    transform: scale(.95);
    cursor: pointer;
  }
}

* {
  margin: 0;
  transition-duration: .3s;
}

.hidden {
  display: none;
}